*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300px;
    /* background-color: aqua; */
}
.addingTask{
    margin: 50px;
}
input{
    margin-left: 100px;
}
#taskaddBtn:hover{
    background-color: aqua;
    color: black;
}
#clearAll:hover{
 background-color: red;
 color: white;
}
