*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 300px;
    /* background-color: aqua; */
}
.addingTask{
    margin: 50px;
}
input{
    margin-left: 100px;
}
#adding:hover{
 background-color: aqua;
}
